.widget-title,
header .cep-nav ul li a,
header .cep-top-bar .call-center,
.footer_section .sitemap__link .link__title,
.footer_section .sitemap__bank .link__title,
.footer_section .address__box .box__title,
.footer_section .address__box .box__title h4,
.footer_section .email__box .box__title,
.footer_section .foot__jamkerja .jamkerja__title,
.footer_section .foot__jamkerja .jamkerja__subtitle,
.footer_section .foot__qwords .qwords__moto p strong,
.kontak__box .box__title h4,
.kontak__box .box__call strong {
  color: #8C3231!important;
}

body{
  background: #E6E6E6;
}

header .cep-top-bar .tlp, .login-link{
  color: #000000;
}

a:hover,
header .cep-nav ul li a:focus,
header .cep-nav ul li a:hover {
  color: #657373!important;
}

.daftar a:hover{
  color: #fff!important;
}

.akun{
  color: #8C3231;
}

.footer_section .sitemap__link .link__menu ul li a,
.footer_section .address__box .box__alamat p,
.footer_section .email__box .box__info,
.footer_section .foot__qwords .qwords__moto p,
.kontak__box .box__call p {
  color: #404041!important;
}


.footer_section .sitemap__link .link__menu ul li a:focus,
.footer_section .sitemap__link .link__menu ul li a:hover {
  color: #ed5c28!important;
}



header .menu__fix.skroll a.btn.btn-default {
  color: #ffffff;
}

.btn.btn-default:not(.btn-lang) {
  color: #ffffff;
  background: #8C3231;
  border-color: #000;
}

.btn.btn-kontak:not(.btn-lang) {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  background: #000;
  border-color: #000;
}


header .menu__fix.skroll a:active,
header .menu__fix.skroll a:focus,
header .menu__fix.skroll a:hover {
  color: #657373!important;
}

.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover {
  color: #ffffff;
  background: #712928;
  border-color: #000;
}

.hint--poek:after {
  text-shadow: 0 0 0
}

body{
  background-color: #FFF;
}

.konten-halaman{
  min-height: 460px;
  background: #FFF url(../images/back-image.png) no-repeat fixed top right;
}

header .cep-nav ul li a {
  font-family: 'Source Sans Pro', sans-serif;
}

.isi-halaman p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-align: justify;
}

.judul-halaman{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.judul-halaman h2{
  color: #657373
}

.judul-halaman p{
  font-size: 20px;
}

.coming-soon{
  margin-top: 30px;
  color: #fff;
  background-color: #8C3231;
}

.coming-soon p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-align: center;
}

.judul-section{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.img-konten{
  padding-top: 20px;
  padding-bottom: 30px;
  margin: auto;
}

.salam p, .salam h2{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

.salam p{
  font-size: 15px;
}

.sec-testimoni, .sec-mitra{
  background-color: #E6E6E6;
  border-bottom: 1px solid #B3B3B3;
  padding-bottom: 20px;
}

.testimoni{
  padding-top: -20px;
}

.testimoni-text{
  padding-left: 350px;
  padding-right: 350px;
  text-align: center;
}

.testimoni-text h4{
  font-family: 'Source Sans Pro', sans-serif;
}

.image-mitra{
  width: 150px;
  height: 150px;
  margin: auto;
}

.form-kontak{
  background-color: #E6E6E6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.img-kontak{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.foot-copyright p, .foot-support p{
  font-family: 'Source Sans Pro', sans-serif;
}

.foot-copyright{
  margin-left: 120px;
}

.foot-support{
  margin-top: -10px;
  margin-left: 150px;
}


.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #8C3231;
}

.carousel-indicators li.active {
    background-color: #8C3231;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

#sec__sitemap {
  background: #efefef;
}




#sec__foot,
#sec__article {
  background: #f3f2f6;
}



#sec__article>div,
#sec__article ul li {
  color: #f3f2f6;
}
